<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>

   <!--  <script src="/js/validacionProductEdit.js"></script> -->

</head>
<body>
    <header>
        <%- include('../partials/headerLogged') %>
    </header>

    <!-- <h1>Editar producto</h1>
    <h2><%=product.name%></h2>
    <img  class="productImage" src="<%=product.img%>" alt="<%=product.imgDescription%>">
    
    
    <form method="POST" class="formularioProducto" action="/products/<%=product.id%>/update?_method=PUT" > 
       
        <div class="editProduct"> 
            <input type="text" name="productName" class="productName" value="<%= product.nombre %>"> 
        </div>
        <label for="productDescription"> Descripcion del producto</label>
        <div class="editProduct"> 
            <input type="text" name="productDescription" class="productDescription" value="<%=product.descripcion %>"> 
        </div>
        <div class="editProduct"> 
            <input type="file" name="productPic" id="productPic" accept=".jpg, .png">
        </div>
        
    
      
      
        <div class="editProduct">
            <label for="productCat">Categoria del producto</label>
            <select id="productCat" name="productCat">
                <option value="cat1">categoria 1</option>
                <option value="cat2">categoria 2</option>
                <option value="cat3">categoria 3</option>
                <option value="cat4">categoria 4</option>
            </select>
        </div>
        <div class="editProduct">
            <label for="productClor">Color del producto</label>
            <select id="productColor" name="productColor">
                <option value="col1">color 1</option>
                <option value="col2">color 2</option>
                <option value="col3">color 3</option>
                <option value="col4">color 4</option>
            </select>
        </div>
        <div class="editProduct"> <input type="number" name="productPrice" value="<%=product.precio%>"> </div>
        <div class="editProduct"> <input type="text" name="brand" value="<%=product.marca%>"> </div>
        <div class="errores" style="color: red;"></div>
        <input type="submit" value="Submit">
    </form>  -->



    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                
                <div class="card-body">
                    <h2 class="title">Editar producto</h2>
                    <form  method="POST" class="formularioProducto" action="/products/<%=product.id%>/update?_method=PUT" enctype="multipart/form-data">
                        
                        <div class="input-group">
                            <input 
                                value="<%= product.nombre  %>"
                                
                                type="text" name="productName" class="productName" >
                        </div>
                        
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input type="text" name="productDescription" class="productDescription" value="<%=product.descripcion %>"> 
                                </div>
                            </div>
                            
                            <div class="col-2">
                                <label for="productPic"> Foto del producto</label>
                                <input type="file" name="productPic" id="productPic" value="<%=product.foto%>" accept=".jpg, .png, .gif, .jpeg"> 
                                
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="productCat">
                                            <option disabled="disabled" selected="selected">Categoria del producto</option>
                                            <option value="1">llaves</option>
                                            <option value="2">candados</option>
                                            <option value="3">cerraduras</option>
                                            <option value="4">otro</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="class">
                                    <option disabled="disabled" selected="selected">Color</option>
                                    <option value="1">dorado</option>
                                    <option value="2">plateado</option>
                                    <option value="3">blanco</option>
                                    <option value="4">negro</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>


                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-2" type="number" value="<%=product.precio%>" name="productPrice">
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-2" type="text" value="<%=product.marca%>" name="brand">
                                </div>
                            </div>
                        </div>

                        <div> 
                            <% if (locals.allErrors){ %> 
                            <% allErrors.forEach(error=>{ %>
                                <p> <%= error.msg %></p>
                            <% }) %>
                            <% } %>
                        </div>

                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>