<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= product.nombre %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <script src="/js/eliminarProducto.js"></script>
</head>
<body>

    <!-- HEADER-->
    <section class="headerPartial">
        <%- include('../partials/headerLogged') %>
    </section>

    <main>
            
        <section>
            <!--  DIV ORIGINAL
            <div class="articuloCompleto">

                <div class="elemento">  
                    <div class="foto">
                        <img  src="/images/prodImages/<%=product.foto%>" alt="foto de producto">
                    </div>

                    <div class="cajitaPrecio">
                        
                        <div class="precioDescuento">
                            <div class="precio"> $ <%= product.precio %> </div>
                            <% if (product.discount !=null){ %>
                                <div class="descuento"><%= product.discount %></div>
                            <% } %>
                        </div>
                        <div class="descripcion"><%= product.nombre %></div>
                        <div class="descripcion"><%= product.descripcion %></div>
                        <div class="descripcion"><%= product.marca %></div>
                    </div>
                </div>
                <button><a href="/products/<%=product.id%>/edit">Editar</a></button>
                
                <form method="POST" action="/products/<%=product.id%>/delete?_method=DELETE" class="eliminarPto"> 
                    <button type="submit">ELIMINAR PRODUCTO</button>
                </form>
            </div>
            -->

            <!--  ACA VA LO QUE COPIE DE INTERNET -->


            <section class="container">
 
                <!-- Left Column / Headphones Image -->
                <div class="left-column">
                  <img src="/images/prodImages/<%=product.foto%>" alt="foto de producto">
                </div>
               
               
                <!-- Right Column -->
                <div class="right-column">
               
                  <!-- Product Description -->
                  <div class="product-description">
                    <span><%= product.marca %></span>
                    <h1><%= product.nombre %></h1>
                    <p><%= product.descripcion %></p>
                  </div>
               

                  <!-- Product Pricing -->
                  <div class="product-price">
                    <span>$ <%= product.precio %></span>
                    <a href="#" class="cart-btn cart-btn-logged">Agregar</a>
                  </div>

                    <!-- Edit and Delete-->
                    <div class="botonesEdicion">
                        <a href="/products/<%=product.id%>/edit"><button class="btn">Editar</button></a>
                        
                        <form method="POST" action="/products/<%=product.id%>/delete?_method=DELETE" class="eliminarPto"> 
                            <button class="btn" type="submit">ELIMINAR</button>
                        </form>

                    </div>

                </div>

                

            </section>


        </section>
    </main>

    <!-- FOOTER-->
    
    <%- include('../partials/footer') %>


</body>
</html>