<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
</head>
<body>

    <!-- HEADER-->
    <section class="headerPartial">
        <%- include('../partials/headerLogged') %>
    </section>

    <main>
            
        <section>
 
            <div class="todosLosArticulos">

                <article class="elemento">  
                        <img src="/images/prodImages/<%=product.foto%>" alt="foto de producto">
                        <div class="cajitaPrecio">
                            <i class="fas fa-truck"></i>
                            <div class="precioDescuento">
                                <div class="precio"> $ <%= product.precio %> </div>
                                <% if (product.discount !=null){ %>
                                    <div class="descuento"><%= product.discount %></div>
                                <% } %>
                            </div>
                            <div class="descripcion"><%= product.nombre %></div>
                            <div class="descripcion"><%= product.descripcion %></div>
                            <div class="descripcion"><%= product.marca %></div>
                        </div>
                        
                        <button><a href="/products/<%=product.id%>/edit">Editar</a></button>
                </article>
            </div>


            <form method="POST" action="/products/<%=product.id%>/delete?_method=DELETE"> 
                <button type="submit">ELIMINAR PRODUCTO</button>
            </form>
        </section>
    </main>

    <!-- FOOTER-->
    <section class="footerPartial"
        <%- include('../partials/footer') %>
    </section>

</body>
</html>