<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los productos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/allProducts.css">
</head>
<body>

    <!-- HEADER-->
    <section class="headerPartial">
        <%- include('../partials/headerLogged') %>
    </section>

    <main>

        <section class="bordeTotal">
    
            <button><a href="/products/add"><div class="nuevoProducto"> Agregar producto nuevo</div></a></button>
           
            <div class="seccionProductos">
                <div class="menuLateral">menu lateral a hacer como filtro</div>
            
                <article class="contenedorArticulos">

                    <% products.forEach(product=>{ %>   

                        <a href="/products/<%=product.id %>">
                            <div class="articulo">
                            
                                <img class="fotoProducto" src="/images/prodImages/<%=product.foto%>" alt='<% product.imgDescription %>'>
                                
                                <div class="cajitaPrecio">
                                    
                                    <div class="nombre"><%= product.nombre %></div>
                                    <div class="precioDescuento">
                                        <div class="precio"> $ <%= product.precio %></div>
                                        <% if (product.discount !=null){ %>
                                            <div class="descuento"><%= product.discount %></div>
                                        <% } %>
                                    </div>
                                    <div class="marca"><%= product.marca %></div>
                                </div>
                            </div>
                        </a>
                    <% }); %>

                </article>
            </div>

        </section>
    </main>

    <!-- FOOTER-->
    <section class="footerPartial"
        <%- include('../partials/footer') %>
    </section>

</body>
</html>