<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel='stylesheet' href='/stylesheets/header.css' />

</head>
<body>

    <h1>Editar producto</h1>
    <h2><%=product.name%></h2>
    <img  class="productImage" src="<%=product.img%>" alt="<%=product.imgDescription%>">
    <form method="POST" action="/products/<%=product.id%>/update?_method=PUT"> 
       
        <div class="editProduct"> <input type="text" name="productName" value="<%= product.nombre %>"> </div>
        <label for="productDescription"> Descripcion del producto</label>
        <div class="editProduct"> <input type="text" name="productDescription" value="<%=product.descripcion %>"> </div>
        <div class="editProduct"> <input type="file" name="productPic" id="productPic" accept=".jpg, .png"></div>
        
        <!-- Aca falta preseleccionar la opcion que ya viene, pero no se como-->
        <div class="editProduct">
            <label for="productCat">Categoria del producto</label>
            <select id="productCat" name="productCat">
                <option value="cat1">categoria 1</option>
                <option value="cat2">categoria 2</option>
                <option value="cat3">categoria 3</option>
                <option value="cat4">categoria 4</option>
            </select>
        </div>
        <div class="editProduct">
            <label for="productClor">Color del producto</label>
            <select id="productColor" name="productColor">
                <option value="col1">color 1</option>
                <option value="col2">color 2</option>
                <option value="col3">color 3</option>
                <option value="col4">color 4</option>
            </select>
        </div>
        <div class="editProduct"> <input type="number" name="productPrice" value="<%=product.precio%>"> </div>
        <div class="editProduct"> <input type="text" name="brand" value="<%=product.marca%>"> </div>
        <input type="submit" value="Submit">
    </form>

</body>
</html>