<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= product.nombre %></title>
    <link rel="stylesheet" href="/stylesheets/productDetail.css">

</head>
<body>

    <!-- HEADER-->
    <section class="headerPartial"
      <%- include('../partials/header') %>
    </section>

    <main>
            
        <!-- <section>
 
            <div class="todosLosArticulos">

                <article class="elemento">  
                        <img src="/images/prodImages/<%=product.foto%>" alt="foto de producto">
                        <div class="cajitaPrecio">
                    
                            <div class="precioDescuento">
                                <div class="precio"> $ <%= product.precio %> </div>
                                <% if (product.discount !=null){ %>
                                    <div class="descuento"><%= product.discount %></div>
                                <% } %>
                            </div>
                            <div class="descripcion"><%= product.nombre %></div>
                            <div class="descripcion"><%= product.descripcion %></div>
                            <div class="descripcion"><%= product.marca %></div>
                        </div>
                </article>
            </div>


        
        </section> -->
    
        <section class="container">
 
            <!-- Left Column / Headphones Image -->
            <div class="left-column">
              <img src="/images/prodImages/<%=product.foto%>" alt="foto de producto">
            </div>
           
           
            <!-- Right Column -->
            <div class="right-column">
           
              <!-- Product Description -->
              <div class="product-description">
                <span><%= product.marca %></span>
                <h1><%= product.nombre %></h1>
                <p><%= product.descripcion %></p>
              </div>
           

              <!-- Product Pricing -->
              <div class="product-price">
                <span>$ <%= product.precio %></span>
                <a href="#" class="cart-btn">Agregar</a>
              </div>
            </div>
        </section>

    </main>

    <!-- FOOTER-->
    <footer class="footerPartial"
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>